
   #meet{
    /* border : 1px solid yellow ; */
    background-color: #443d3d;
    margin : auto ;
    
   }

   img{
     height: auto;
    max-width: 100%;
    border-style: none;
    display: block;
     margin : auto ;
    }
    