

/* navpart */


/* offerZonne */

#card_div{
    height: 90%;
  }

  h1{
    font-size: 37px;
   padding-top: 10px;
    margin-left: 24px;
    font-weight: bold;
    color: rgb(248, 241, 241);
  }
  h2>#sort{
    height: 10px;
    width:15px;
    border: 1px solid black;
   background-color: black;
   color: white;
   font-size: 17px;
  
  }

  #feature_div{
    display: flex;
     justify-content: end;
     margin-bottom: 20px;
    margin-right: 10px;
    background-color: rgb(42, 41, 41);
  }

#first{
 display: flex;
 margin-left: 24px;
 gap: 20px;
 
 color: white;
 width: 70%;
}

#card_div{
    background-color: rgb(42, 41, 41);
    margin-right: 20px; 
  }

  #gifting_tag_div{
    width: 100%;
    height: 90px;
     background-color: black;
  }
  #black{
    background-color: rgb(42, 41, 41);
     
  } 

 /* js part css */
 #initial{
    color: white;
    background-color: red;
    font-weight: 100;
    text-align: center;
    padding: 13px;
    margin-top: -7px;
}

#card_div{
   display: grid;
   grid-template-columns: repeat(4,auto);
   grid-template-rows:  repeat(17 , auto);
   border: 1px solid black;
   /* background-color: rgb(41, 36, 36); */
   gap: 20px 20px;
   /* margin-top: 5px; */
   /* margin-left: 10px; */
   padding: 40px;
   
   
   /* justify-items: auto; */
}


#img_div{   
    
    /* thid is blue card div */
     display: grid;
    justify-content: left; 
    border-radius: 10px;
    background-color: rgb(223, 221, 221);
    /* border: 2px solid rgb(66, 13, 211); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 380px;
    
    /* padding: 10px; */
 
    
} 
#box_div{
    /* background-color: rgb(184, 178, 178); */

      /* thid is orange small div */
    height: 135px;
    width: 92%;
    
   padding:10px;
    border-radius: 10px;
    /* border: 2px solid orange; */
    background-color: white;
   
   margin-top: 10px;

    
}
#one{
    margin-left: 20px;
}

#main_img{
    margin-top: -30px;
    height: 200px ;
    width: 250px;
    margin-left: 55px;
}

#add{
    margin-left: 76%;
    /* padding: 10px; */
    margin-top: 10px;
    font-size: 19px;
    color: white;
    padding:10px 10px 10px 10px;
    border-radius: 10px;
    background-color: red;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
#add:hover{
  color: black;
}

#dis{
     border: 1px solid white;
     background-color:white;
     color:red;
      margin-right: 69%;
      margin-top: 5px;
      margin-left: 2px;
      font-weight: bold;
}

#offer{
    margin-top: -15px;
    text-decoration: dotted;
    font-size: 10px;
    color: rgb(22, 22, 22);
    
}
h1{
  font-size: 30px;
}

#name{
    margin-top: -1px;
    font-weight: bold;
    font-size: 17px;
}


/* blackpart */
/* #offer>price{
  margin-top: 20px;
}

colour{
  margin-top: 20px;
} */